
  
  .figure {
      inline-size: auto;
  }
  .columns {
      background-color: black;
  }
.title {
    color: yellow;
    display: inline-block;
}
.wrapper {
background-color: black;
color: orange;
text-align: center;
}
