.hero{
    background-color: black;
}
  
  .figure {
      inline-size: auto;
  }
  .columns {
      background-color: black;
  }
.title {
    color: yellow;
    display: inline-block;
}
.wrapper {
background-color: black;
color: orange;
text-align: center;
}

#inputField{
    width: 56%;
    padding-left: 45%;
    color: red;
}